/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

body {margin-top:10px;background-color: rgb(65, 65, 65);}

.light-blue {background-color: #EBEDF2!important;}
.light-blue.lighten-1 {background-color: #EBEDF2!important;}

.section.no-pad-bot.top{
  background-color: #EBEDF2!important;min-height: 600px;
  background-image: url("MS.png");
}

.section.no-pad-bot {background-color: #ffffff!important;}

.container {max-width:1400px;width: 80%;}


.container.top {padding-top: 100px;padding-bottom:100px;} 

.container.top h1, h5 {text-align: left;}

.container.top h1 {
  font-size: 36px;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  color: #474747;
  margin-bottom: 10px;}

.container.top h2 {
  font-size: 30px;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  color: #CACACA;
  margin-top: 0px;}

.container.top h5 {
  padding-left:0px!important;
  margin-top: 0px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #585858;
  line-height: 1.5em;
}

/* .container.top img {
  margin-right: 10px;
  width: 40px;
} */

.container.top svg {margin-right: 15px;}




.container.top .row {
  text-align: left!important;
  padding-right: 44%!important;}

/* .container.middle {background-color: #EBEDF2!important;}  */

/* #middle-blocks {background-color: #EBEDF2} */


.container.middle .row {
  margin: 60px 0px;
}

.icon-block.one {
  background-color: #474747;
  min-height: 400px;
  border: 2px solid #EBEDF2;
}


.icon-block.two {
  background-color: #fff;
  min-height: 400px;
  border: 2px solid #EBEDF2;
}


/*FOOTER*/


.page-footer {
  background-color:#474747;
  
}

.page-footer .row {
  margin-bottom: 0px;
}

.page-footer .row .col.l6 {
  margin-bottom: 30px;
  margin-top: 20px
}

/*FOOTER*/










